.square{
	display: inline-block;
	height: 75px;
	width: 75px;
	border: .5px solid black;
	margin: 0;
	overflow: hidden;
	box-sizing: border-box;
}

.row{
	height: 75px;	
	margin: 0;
	box-sizing: border-box;
}

.row:nth-child(even) .square:nth-child(odd){
	background-color: green;
}

.row:nth-child(odd) .square:nth-child(even){
	background-color: green;
}

.light_square{
	background-color: white;
}

.dark_square{
	background-color: green;
}

.piece{
	position: relative;
	width: 100%;
	size: 100%;
	margin: 0 auto;
}

.board{
	width: 650px;
	display: inline-block;
}

.container{
	min-width: 1250px;
}

.scoreBoard{
	display: inline-block;
	vertical-align: top;
	height: 600px;
}

.scorekeeper .movekeeper{
	margin: 10px 0 10px 0;
}

.block{
	display: block;
}

.result{
	width: 500px;
}

.logo{
	display: inline-block;
	position: relative;
	height: 45px;
	width: 40px;
	top: 10px;
}

h1{
	font-size: 36px; 
	display: inline-block;
}

h2{
	margin: 0;
}

h5{
	display: inline-block;
	margin-right: 20px;
}